<div class="results">
  <table>
    <tr>
      <th>Result:</th>
      <th>Name</th>
      <th>Address</th>
      <th>Fuel Types</th>
      <th>Distance</th>
      <th>Access Times</th>
    </tr>
    <% @results[:fuel_stations].each_with_index do |station, i| %>
      <tr>
        <td><%= i %>.</td>
        <td><%= station_name %></td>
        <td>Jill</td>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
      </tr>
    <% end %>
</table>
</div>
